<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andermaco.challenge">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.andermaco.challenge.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.andermaco.challenge.view.activity.Loading"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">

            <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.andermaco.challenge.view.activity.JourneyMaps"
            android:icon="@drawable/cabify_icon"
            android:label="@string/title_activity_journey_maps"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.andermaco.challenge.view.activity.VehicleList"
            android:icon="@drawable/cabify_icon"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/title_activity_journey_maps"
            android:screenOrientation="portrait"></activity>
        <service
            android:name=".view.managers.location.FetchAddressIntentService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="07a6bbf2df7e2579861b4c3b6aa66afb77d3ee83" />

    </application>

</manifest>